body {
    background-color: hsl(210, 46%, 95%);
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

.main-container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 300px;
    width: 700px;
    border-radius: 15px;
    background-color: hsl(240, 100%, 100%);
    transform: translate(-50%, -50%);
}

.content img {
    height: 300px;
    width: 300px;
}

.content {
    display: flex;
}

.main-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-txt h3 {
    font-family: 'Manrope', sans-serif;
    font-size: 22px;
    margin-left: 10px;
    font-weight: bold;
    color: hsl(217, 19%, 35%);
}

.main-txt p {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    margin-left: 10px;
    color: hsl(214, 17%, 51%);
}

.main-txt .profile {
    display: flex;
    flex-direction: row;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.profile-pic img {
    height: 50px;
    border-radius: 30px;
    margin-left: 20px;
}

.profile .name {
    color: #48556a;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
}


#share {
    display: flex;
    justify-content: center;
    align-items: center;

}

.profile #share {
    background-color: hsl(210, 46%, 95%);
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
}


.tooltip {
    position: relative;
    display: inline-block;

}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    height: 40px;
    border-radius: 40px;
    background-color: hsl(217, 19%, 35%);
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -110px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 6px;
    border-style: solid;
    border-color: hsl(217, 19%, 35%) transparent transparent transparent;
}



.tooltiptext {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.tooltiptext #shtext {
    font-family: 'Manrope', sans-serif;
    color: hsl(240, 3%, 80%);
    letter-spacing: 5px;
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    .main-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: auto;
        flex-direction: column;
    }

    .content img {
        /* max-width: 100%;
        height: auto; */
        width: 100%;
        height: auto;
    }

    .main-container .main-txt {
        width: 90%;
    }

    .main-txt h3 {
        font-size: 16px;
        font-weight: bold;
        color: hsl(217, 19%, 35%);
        margin: 5px 0;
    }

    .main-txt p {
        font-size: 12px;
        margin: 5px 0;
        color: hsl(214, 17%, 51%);
    }

    .profile .profile-pic {
        margin-right: 10px;
        margin-left: 0;
        margin-top: 10px;
    }

    .profile-pic img {
        height: 50px;
        border-radius: 30px;
        margin-left: 2px;
    }



}